body{
   background-color: #2e3233 !important;
   position: relative;
   min-height: 100vh;
   overflow-x: hidden;
}

.bg-light-color{
   background-color: #00203FFF !important;
}

.nav-link {
   color: #ADEFD1FF !important;
}

.page-footer{
   background-color: #00203FFF;
   color: white;
   position: absolute;
   bottom: 0;
   width: 100%;
   padding: 3px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

#head-calcu{
   padding: 1em;
   text-align: center;
   color: white;
}

#calculadora {
   width: 320px;
   height: 520px;
   position: relative;
   border-radius: 5px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   background-color: #464c50;
   margin: 0 auto;
   top: 20px;
}

#resultado {
   height: 120px;
}

#historial {
   text-align: right;
   height: 20px;
   margin: 0 20px;
   padding-top: 20px;
   font-size: 15px;
   color: #bcbec0;
}

#total {
   text-align: right;
   height: 60px;
   margin: 10px 20px;
   font-size: 30px;
   color: #eaedef;
}

#total p, #resultado p{
   overflow-y: scroll;
} 

#total p::-webkit-scrollbar, #resultado p::-webkit-scrollbar{
   display: none;
   overflow-y: scroll;
} 

#botones {
   height: 400px;
}

.numero {
   background-color: #eaedef;
}

.operador,
.numero {
   width: 50px;
   height: 50px;
   margin: 15px;
   float: left;
   border-width: 0;
   font-weight: bold;
   font-size: 15px;
   cursor: pointer;
}

button:nth-child(1) {
   font-size: 20px;
   background-color: #919191 ;
}

#calculadora button:nth-child(2) {
   font-size: 20px;
   width: 6.5em;
   background-color: #919191 ;
}

button:nth-child(3) {
   font-size: 20px;
   background-color: #7776c9;
}

button:nth-child(7) {
   font-size: 20px;
   background-color: #5fbe33;
}

button:nth-child(11) {
   font-size: 20px;
   background-color: #da3c3c;
}

button:nth-child(15) {
   font-size: 20px;
   background-color: #d3a715;
}

button:nth-child(16) {
   font-size: 20px;
   width: 6.5em;
}

button:nth-child(17){
   font-size: 20px;
   background-color: #919191;
   width: 6.5em;
}

